<html>



<head>

    <link rel="stylesheet" href="static/css/homepage.css">
    <link rel="stylesheet" href="static/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">







</head>








<body>
    <div class="big">

        <div class="header">
            <div class="headerLogo">
                <img src="static/images/final logo.png" alt="Logo">
            </div>
            <div class="links">
                <a class="l1" href="Sign_In.html" > <span style="color: black;">Sign Up</span></a>
                <a class="l1" href="Sign_Up.html">Sign in</a>
                <a class="l1" href="profile.html">Profile</a>
                <a class="l1" href="homepage.html">Home</a>
                <a class="l1" href="Sign_Up.html">logout</a>
            </div>
        </div>




        <!-- <div class="navy">

            <div class="a"><a href="homepage.html">home</a></div>
            <div class="b"><a href="profile.html">profile</a></div>
            <div class="c">logout</div>
            <div class="d">about us</div> 


        </div> -->



        <!-- <div class="main_page">

            <div class="logo">
             

            </div>

        </div>
        <div class="trip000">

            <p class="trip_head000">Reverse a Trip</p>
            <div class="pickup000">
                <form>
                <label>please insert your pickup</label>
                <input class="home_input" type="text">



                </form>

            <div class="destination000">
            <form>
                <label>please insert your destination</label>
                <input class="home_input" type ="text">
    
    
    
            </form>    


            </div>

        


        </div>

    </div>     

 


 -->

 <div class="sweet_home">
    <div class="sweet_home_left">
        <div class="sweet_home_left_head">
            <p>Reverse a fast trip</p>
        </div>
        <div class="sweet_home_left_inputs">
            <div class="sweet_home_left_inputs_first">
            
                <div class="input1_move">
                <form action="">
                <label class="labels" for="Pickup">Pickup and Destination</label>
                <input class="inputs1" type="text">
                </form>
                
                
                </div>
            
            </div>    
            <div class="sweet_home_left_inputs_second">
                
                    <div class="input2_move">
                    <form action="">
                    <label class="labels" for="Destination">Distance</label>
                    <input class="inputs" type="text">
                    </form>
                    </div>
                
                
            </div>    
        </div>
 

    </div>
    <div class="sweet_home_right">

    </div>
    <div class="footer">
        <div class="footerContactUs">
            <div class="footerContactUsLinks">
                <div class="l2"><a href=""><i class="fa-solid fa-location-dot"></i></a> <span>Giza, Saft el-laban, street of el3shreen</span></div>
                <div class="l2"><a href=""><i class="fa-solid fa-phone"></i></a> <span>You can contact us in +20 1011823873</span></div>
                <div class="l2"><a href=""><i class="fa-regular fa-envelope"></i></a> <span>You can contact us also in zeyad4WOnly@gmail.com</span></div>
            </div>
        </div>
        <div class="footerAboutUs">
            <h3 class="footerheader">About us</h3>
            <p class="footerAboutDescription">Here we give you one of the best services with the best avalible quality in the world to make you comfortable as a king </p>
            <div class="footerAboutUsLinks">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>           
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-square-github"></i></a>
            </div>
        </div>

    </div>

 </div>

















</body>




































</html>