<html>




<head>
    <link rel="stylesheet" href="static/css/profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  








</head>



<body>
    <div class="big">

    
        <div class="header">
            <div class="headerLogo">
                <img src="static/images/final logo.png" alt="Logo">
            </div>
            <div class="links">
                <a class="l1" href="Sign_In.html">Sign Up</a>
                <a class="l1" href="Sign_Up.html">Sign in</a>
                <a class="l1" href="profile.html">Profile</a>
                <a class="l1" href="homepage.html">Home</a>
                <a class="l1" href="Sign_Up.html">logout</a>


            </div>
        </div>

        <!-- <div class="navy">

            <div class="a"><a href="homepage.html">home</a></div>
            <div class="b"><a href="profile.html">profile</a></div>
            <div class="c">logout</div>
            <div class="d">about us</div> 


        </div>
 -->

 <div class="profile00">
    <div class="profile_image">
        <img src="static/images/lolo.jpg" alt="">


    </div>
    <div class="right_profile">
        <div class="right_profile_text">
        <p>Name: Mohamed khaled</p>
        <p>Age: 22</p>    
        <p>Last pickup: Tahrir </p>
        <p>Last destination: mokattam</p>
        <p>email:mohamed@fff.com</p>

        </div>


    </div>
 </div>




</body>






























</html>